@font-face {
  font-family: "iconfont"; /* Project id 5088430 */
  src: url('iconfont.woff2?t=1765724736213') format('woff2'),
       url('iconfont.woff?t=1765724736213') format('woff'),
       url('iconfont.ttf?t=1765724736213') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-icon:before {
  content: "\e661";
}

.icon-tongzhi:before {
  content: "\e64a";
}

.icon-youjiantou:before {
  content: "\e60a";
}

.icon-shouji:before {
  content: "\e61b";
}

.icon-weixin:before {
  content: "\e607";
}

